tsaghir_zadaca_3/tsaghir_zadaca_3_2/web/WEB-INF/wsdl/localhost_8084/tsaghir_zadaca_3_1/GeoMeteoWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.6-1b01  svn-revision#13094. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://serveri.ws.tsaghir.nwtis.foi.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://serveri.ws.tsaghir.nwtis.foi.org/" name="GeoMeteoWS">
<types>
<xsd:schema>
<xsd:import namespace="http://serveri.ws.tsaghir.nwtis.foi.org/" schemaLocation="http://localhost:8084/tsaghir_zadaca_3_1/GeoMeteoWS?xsd=1"/>
</xsd:schema>
</types>
<message name="dajMinMaxTlakZaUredjaj">
<part name="parameters" element="tns:dajMinMaxTlakZaUredjaj"/>
</message>
<message name="dajMinMaxTlakZaUredjajResponse">
<part name="parameters" element="tns:dajMinMaxTlakZaUredjajResponse"/>
</message>
<message name="dajMinMaxTempZaUredjaj">
<part name="parameters" element="tns:dajMinMaxTempZaUredjaj"/>
</message>
<message name="dajMinMaxTempZaUredjajResponse">
<part name="parameters" element="tns:dajMinMaxTempZaUredjajResponse"/>
</message>
<message name="dajMinMaxVlagaZaUredjaj">
<part name="parameters" element="tns:dajMinMaxVlagaZaUredjaj"/>
</message>
<message name="dajMinMaxVlagaZaUredjajResponse">
<part name="parameters" element="tns:dajMinMaxVlagaZaUredjajResponse"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjaj">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjaj"/>
</message>
<message name="dajSveMeteoPodatkeZaUredjajResponse">
<part name="parameters" element="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</message>
<message name="dajZadnjeMeteoPodatke">
<part name="parameters" element="tns:dajZadnjeMeteoPodatke"/>
</message>
<message name="dajZadnjeMeteoPodatkeResponse">
<part name="parameters" element="tns:dajZadnjeMeteoPodatkeResponse"/>
</message>
<message name="dodajUredjaj">
<part name="parameters" element="tns:dodajUredjaj"/>
</message>
<message name="dodajUredjajResponse">
<part name="parameters" element="tns:dodajUredjajResponse"/>
</message>
<message name="dajSveUredjaje">
<part name="parameters" element="tns:dajSveUredjaje"/>
</message>
<message name="dajSveUredjajeResponse">
<part name="parameters" element="tns:dajSveUredjajeResponse"/>
</message>
<portType name="GeoMeteoWS">
<operation name="dajMinMaxTlakZaUredjaj">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxTlakZaUredjajRequest" message="tns:dajMinMaxTlakZaUredjaj"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxTlakZaUredjajResponse" message="tns:dajMinMaxTlakZaUredjajResponse"/>
</operation>
<operation name="dajMinMaxTempZaUredjaj">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxTempZaUredjajRequest" message="tns:dajMinMaxTempZaUredjaj"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxTempZaUredjajResponse" message="tns:dajMinMaxTempZaUredjajResponse"/>
</operation>
<operation name="dajMinMaxVlagaZaUredjaj">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxVlagaZaUredjajRequest" message="tns:dajMinMaxVlagaZaUredjaj"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajMinMaxVlagaZaUredjajResponse" message="tns:dajMinMaxVlagaZaUredjajResponse"/>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajRequest" message="tns:dajSveMeteoPodatkeZaUredjaj"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajSveMeteoPodatkeZaUredjajResponse" message="tns:dajSveMeteoPodatkeZaUredjajResponse"/>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeRequest" message="tns:dajZadnjeMeteoPodatke"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajZadnjeMeteoPodatkeResponse" message="tns:dajZadnjeMeteoPodatkeResponse"/>
</operation>
<operation name="dodajUredjaj">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dodajUredjajRequest" message="tns:dodajUredjaj"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dodajUredjajResponse" message="tns:dodajUredjajResponse"/>
</operation>
<operation name="dajSveUredjaje">
<input wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajSveUredjajeRequest" message="tns:dajSveUredjaje"/>
<output wsam:Action="http://serveri.ws.tsaghir.nwtis.foi.org/GeoMeteoWS/dajSveUredjajeResponse" message="tns:dajSveUredjajeResponse"/>
</operation>
</portType>
<binding name="GeoMeteoWSPortBinding" type="tns:GeoMeteoWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="dajMinMaxTlakZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMinMaxTempZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajMinMaxVlagaZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveMeteoPodatkeZaUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajZadnjeMeteoPodatke">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dodajUredjaj">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="dajSveUredjaje">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="GeoMeteoWS">
<port name="GeoMeteoWSPort" binding="tns:GeoMeteoWSPortBinding">
<soap:address location="http://localhost:8084/tsaghir_zadaca_3_1/GeoMeteoWS"/>
</port>
</service>
</definitions>